@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Ammar Mangala Kitungwa!</h1>

Welcome to your new Google Auth Application with blazor!.

<SurveyPrompt Title="Google external login setup in ASP.NET Core" />
